{% extends 'base.html' %}

{% block page_title %}Your Cart{% endblock %}

{%block page_heading %}Your Cart{% endblock %}

{% block content %}

<div class="table-responsive order-form-container">
   <table class="table">
      <h4 class="color-pink">Order Summary</h4>
      <thead>
         <tr>
            <th scope="col">Plan</th>
            <th scope="col">Price</th>
            <th scope="col">Remove</th>
         </tr>
      </thead>
      <tbody>
         {% for item in cart_items %}
         <tr>
            <td scope="row" class="color-pink size-b">{{ item.plans }}</td>
            <td class="color-pink size-b">£{{ item.plans.price }}</td>
            <td><a class="btn btn-sm btn-danger" href="{% url 'remove_from_cart' item.plans.id %}">Remove</a></td>
         </tr>
         {% endfor %}
         <tr>
            <td colspan="2"><b>Order Total</b></td>
            <td><b>£{{ total }}</b></td>
            <td class="hide-service-type"></td>
         </tr>
         <tr>
            <td colspan="5">
               <a class="btn btn-light color-orange float-left cart-button-responsive" href="{% url 'checkout' %}">Proceed To
               Checkout</a>
               <a class="btn btn-light color-orange float-left ml-2 cart-button-responsive"
                  href="{% url 'plans' %}">Continue Shopping</a>
            </td>
         </tr>
      </tbody>
   </table>
</div>
{% endblock %}