{% extends "base.html" %} {% load static %} {% block content %}
<title>Welcome to Fitness Freaks! {% block extra_title %}{% endblock %}</title>
<div class="container-fluid">
  <div class="row">
    <div class="col-12">
      <div class="card homepage-card">
        <img
          class="card-img-top logo mx-auto"
          src="{% static 'img/fitness-freaks.png' %}"
          alt="Fitness Freaks logo"
        />
        <div class="card-body">
          <h3 class="card-title fitness-title color-pink">Welcome to Fitness Freaks!</h3>
          <hr />
          <h4 class="underline color-pink">About us</h4>
          <p class="font-size color-pink">
            We are a fitness based company and we are here to help our clients
            out! Our aim is to help you find the perfect nutrition and exercise plan for your
            body. So what are you waiting for?
            <a class="color-orange" href="{% url 'account_signup' %}">Register Now!</a> Or if you already have an account <a class="color-orange" href="{% url 'account_login' %}">Login Here.</a>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}
