/*-----Main-----*/

body {
  padding: 0;
  margin: 0;
  font-family: Verdana, Geneva, sans-serif;
  font-size: 10px;
}

.center {
    text-align: center;
}

.margin-top {
    margin-top: 1rem;
}

.color-pink {
    color: #c638a0;
}

.color-orange {
    color:#FF717C;
}

label {
    color: #c638a0;
}

.size {
    font-size: 1rem;
}

.size-s {
    font-size: 0.8rem;
}

.size-b {
    font-size: 1.2rem
}


/*----HR-----*/

hr {
   background-color:#FF717C;
   width: 75%;
}

.small-hr {
    background-color:#FF717C;
    width: 35%;
}

/*-----Background-----*/
/* .bg-index {
  background-image: url("/static/img/fitness.jpg");
  background-size: cover;
  height: 110%;
  overflow: hidden;
  position: absolute;
  width: 100%;
  opacity: 0.7;
  z-index: -1;
} */

/* .bg-plans {
  background-image: url("/static/img/rope.jpg");
  background-size: cover;
  height: 200%;
  overflow: hidden;
  position: absolute;
  width: 100%;
  opacity: 0.7;
  z-index: -1;
} */


/*-----Navbar-----*/

.navbar-light .navbar-nav .nav-link {
  color: #c638a0;
  font-size: 0.8rem;
}

ul.nav a:hover { 
    color: #c638a0; 
}

/*-----Jumbotron-----*/

.jmb-all {
   border-radius: 0.8rem;
   background: rgba(245,245,245, 0.8); 
   text-align: center;
   position: relative;
   top: 1rem;
   color: #c638a0;
}

/*-----Homepage-----*/

.homepage-card {
  text-align: center;
  margin: 1rem;
  padding-top: 2rem;
  position: relative;
  top: 1rem;
}

@media only screen and (min-width: 829px) {
  .homepage-card {
    text-align: center;
    width: 50rem;
    margin: 0 auto;
    padding-top: 2rem;
    margin-bottom: 2rem;
  }
}

.fitness-title {
    letter-spacing: 0.3rem;
    font-weight: 800;
}

.logo {
    height: 15rem;
    width: 15rem;
}

@media only screen and (min-width: 829px) {
  .logo {
  height: 20rem;
  width: 20rem;
}
}

.underline {
  text-decoration: underline;
}

.font-size {
  font-size: 1rem;
}

/*-----Plans-----*/


/*-----Contact-----*/

.jmb-contact {
   background: rgba(245,245,245, 0.8); 
   text-align: center;
   color: #c638a0;
}

/*-----Blog-----*/

/* .blog-title {
    font-size: 1rem;
    
} */

/*-----Cart-----*/

/* .table {
    text-align: center;
} */

.order-form-container {
  width: 70%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  margin-top: 20px;
}