/*-----Main-----*/

body {
  padding: 0;
  margin: 0;
  font-family: Verdana, Geneva, sans-serif;
  font-size: 10px;
}

.center {
    text-align: center;
}

.margin-top {
    margin-top: 1rem;
}

.color-pink {
    color: #c638a0;
}

.color-orange {
    color:#FF717C;
}

.color-orange-link {
    color:#FF717C;
}

.color-orange-link:hover {
    color:#FF717C;
}

label {
    color: #c638a0;
}

.size {
    font-size: 1rem;
}

.size-s {
    font-size: 0.8rem;
}

.size-b {
    font-size: 1.2rem
}


/*----HR-----*/

hr {
   background-color:#FF717C;
   width: 75%;
}

.small-hr {
    background-color:#FF717C;
    width: 35%;
}

/*-----Navbar-----*/

.navbar-light .navbar-nav .nav-link {
  color: #c638a0;
  font-size: 0.8rem;
}

ul.nav a:hover { 
    color: #c638a0; 
}

/*-----Jumbotron-----*/

.jmb-all {
   border-radius: 0.8rem;
   background: rgba(245,245,245, 0.8); 
   text-align: center;
   position: relative;
   top: 1rem;
   color: #c638a0;
}

/*-----Homepage-----*/

.homepage-card {
  text-align: center;
  margin: 1rem;
  padding-top: 2rem;
  position: relative;
  top: 1rem;
}

@media only screen and (min-width: 829px) {
  .homepage-card {
    text-align: center;
    width: 50rem;
    margin: 0 auto;
    padding-top: 2rem;
    margin-bottom: 2rem;
  }
}

.fitness-title {
    letter-spacing: 0.3rem;
    font-weight: 800;
}

.logo {
    height: 15rem;
    width: 15rem;
}

@media only screen and (min-width: 829px) {
  .logo {
  height: 20rem;
  width: 20rem;
}
}

.underline {
  text-decoration: underline;
}

.font-size {
  font-size: 1rem;
}

/*-----Contact-----*/

.jmb-contact {
   background: rgba(245,245,245, 0.8); 
   text-align: center;
   color: #c638a0;
}

/*-----Cart-----*/

.order-form-container {
  width: 70%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  margin-top: 20px;
}


/*-----Checkout-----*/

.form-css {
  background: #ffffff;
  padding: 10px 20px;
  border: 1px solid #dddddd;
  border-radius: 3px;
  margin-bottom: 70px;
  margin-top: 70px;
}

.form-container {
  width: 40%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

@media only screen and (max-width: 1385px) {
  .form-container {
    width: 60%;
  }
}

@media only screen and (max-width: 920px) {
  .form-container {
    width: 80%;
  }
}

@media only screen and (max-width: 735px) {
  .form-container {
    width: 90%;
  }
}

/*-----Stripe-----*/

.StripeElement,
.stripe-style-input {
  box-sizing: border-box;
  height: 40px;
  padding: 10px 12px;
  border: 1px solid transparent;
  border-radius: 0px;
  background-color: white;
  box-shadow: 0 1px 3px 0 #e6ebf1;
  -webkit-transition: box-shadow 150ms ease;
  transition: box-shadow 150ms ease;
}

.StripeElement--focus,
.stripe-style-input:focus,
.stripe-style-input:active {
  box-shadow: 0 1px 3px 0 #cfd7df;
}

.StripeElement--webkit-autofill {
  background-color: #fefde5 !important;
}

.stripe-style-input::placeholder {
    color: #aab7c4;
}

.fieldset-label {
    position: relative;
    right: .5rem;
}

#payment-form .form-control,
#card-element {
    color: #000;
    border: 1px solid #000;
}
/*-----Plans-----*/


