{% load static %}
<footer>
    <hr>
    <div class="row">
      <div class="col-sm-6 center">
        <h6 class=footer-header>Created by Amitpal Cheema</h6>
        <a href="https://github.com/amit238/milestone-project-4" target="_blank" class=footer-p>My Github</a>
      </div>
      <div class="col-sm-6 center">
        <ul class="list-inline social-links">
          <li class="list-inline-item"><a target="_blank" href="https://www.instagram.com/"><i class="fab fa-instagram fa-2x fa-fw"></i></a>
            <li class="list-inline-item"><a target="_blank" href="https://en-gb.facebook.com/"><i class="fab fa-facebook-f fa-2x fa-fw"></i></a>
              <li class="list-inline-item"><a target="_blank" href="https://twitter.com/"><i class="fab fa-twitter fa-2x fa-fw"></i></a>
              </li>
        </ul>
      </div>
    </div>
  </footer>