{% extends "base.html" %} {% load static %}

{% block page_title %} Fitness Freaks - Plans {% endblock %}

{% block content %}

<div class="row">
  <div class="col-12">
    <div class="jumbotron jumbotron-fluid jmb-all">
      <h2 class="display-4 fitness-title">Find a Plan!</h2>
      <hr />
      <p class="lead">
        Whether youre looking to lean up or bulk up, we have a range of
        gym/nutrition plans to help you out.
      </p>
    </div>
  </div>
</div>
<div class="container-fluid">
 <div class="row plans">
 {% for plan in plans %}
    <div class="col-4">
      <div class="card center margin-top card-size">
      <img class="card-img-top" src="{{MEDIA_URL}}{{ plan.image }}" alt="Plans Image">
        <div class="card-body">
          <h5 class="card-title color-pink fitness-title">{{ plan.title }}</h5>
          <hr>
          <p class="card-text color-pink">
            {{ plan.description }}
          </p>
          <div class="row">
          <div class="col-6">
         <form method="post" action="{% url 'add_to_cart' plan.id %}">
                              {% csrf_token %}
                              <div class="text-center">
                                 <span class="input-group-btn">
                                 <button class="btn btn-light color-orange" type="submit">
                                 Add to Cart
                                 </button>
                                 </span>
                              </div>
                           </form>
          </div>
          <div class="col-6">
          <span class=size-b>£{{ plan.price }}</span>
          </div>
          </div>
        </div>
      </div>
    </div>
    {% endfor %}
</div>
</div>
{% endblock %}
